* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(248, 209, 215);
    color: #333;
    line-height: 1.6;
}

header {
    background-color: rgb(235, 156, 169);
    width: 100%;
    height: 450px;
    padding: 20px 50px;
    position: relative;
    text-align: center;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    width: 40%;
    text-align: center;
    justify-self: center;
}

.topbar .logo strong {
    font-size: 40px;
}

.top-nav {
    width: 25%;
    padding-right: 30px;
    justify-self: end;
    text-align: end;
}

.top-nav ul li {
    display: inline-block;
}

.top-nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.top-nav i:hover{
    color: rgb(231, 67, 143);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

}

.navbar {
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}

.navbar nav {
    width: 90%;
    margin: 0 auto;
}

.navbar nav>ul>li {
    display: inline-block;

}

.navbar a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    font-weight: 600;
    text-align: left;
}

.navbar a:hover{
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
     background-color: palevioletred;
}

.navbar>nav>ul {
    margin: 0;
    padding: 0;

}

.navbar .dropdown {
    position: relative;

}

.navbar .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    width: 120px;
    background-color: #eae8e8;
    visibility: hidden;
}

.navbar .dropdown-menu a {
    color: black;
}
.navbar .dropdown-menu a:hover{
    background-color: #dadada;
}

.navbar .dropdown:hover .dropdown-menu {
    visibility: visible;

}

.dropdown-menu {
    position: relative;
}

.sub-dropdown {
    position: relative;
}

.navbar .sub-dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100px;
    position: absolute;
    left: 100%;
    top: 10px;
    width: 120px;
    background-color: #eae8e8;
    visibility: hidden;
}
.navbar .sub-dropdown:hover .sub-dropdown-menu{
    visibility: visible;
}

header .content {
    margin-top: 20px;
}

header .content q {
    font-size: 1.5rem;
    font-style: italic;
    color: white;
    font-weight: bold;
}

header .content .para {
    margin: 15px 0;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}

button {
    font-style: italic;
    padding: 12px 25px;
    border: none;
    border-radius: 50px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-container {
    background-color: palevioletred;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 80%;
    text-align: center;
    margin: 10px 130px;
}


.heading {
    font-size: 26px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    font-style: italic;
}

.para1 {
    font-size: 16px;
    color: white;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
    list-style: none;
}

.card-container button {
    font-style: italic;
    padding: 12px 25px;
    border: none;
    border-radius: 50px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.card-container button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.collection-heading {
    margin-top: 1rem;
    color: white;
    background-color: palevioletred;
    text-align: center;
    font-size: 2.5em;
    font-style: italic;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.products-container{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.products-container .product {
    background-color: pink;
    color: black;
    border-radius: 5%;
    padding: 15px 10px;
    margin: 5px;
    width: 300px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.products-container .product .read-more{
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 12px;
    font-size: 0.8rem;
    width: 35%;
    text-align: center;
}

.product:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    
}

.product img {
    width: 280px;
    height: 240px;
    border-radius: 5%;
}

.choose-container{
    display: flex;
    justify-content: center;
    margin: 20px 0;

}
.quality-card i{
    color: rgb(197, 75, 116);
    font-size: 30px;
}
.quality-card .card {
    background-color: pink;
    color: black;
    border-radius: 5%;
    padding: 15px 10px;
    margin: 5px;
    width: 300px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.quality-card .card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.about-card{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.about{
    color: rgb(197, 75, 116);
    font-size: 20px;
    background-color: pink;
    color: black;
    border-radius: 10px;
    padding: 15px 10px;
    margin: 5px;
    width: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.about-card .about:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);   
}

/* gallery css start  */

.rtw-bg{
    background-image: url('images/rtwbanner.webp');
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center center;
}


.gallery .container .card{
    width: 300px;
    border: 1px solid black;
    background-color: pink;
    color: black;
    border-radius: 5%;
    padding: 15px 10px;
    margin: 5px;
    width: 300px;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
.container .card:hover {
     
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.pw-bg{
    background-image: url('images/rtwbanner.webp');
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center center;
}

           
.gallery {
    padding: 60px 5%;
}
    

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

/* Card Styling  */
.card {
    background: #fff;
    width: 23%; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: all 0.4s ease;
    position: relative;
}

.card img {
    width: 100%;
    height: 400px;
    display: block;
    transition: transform 0.5s ease;
}

/* Card Content */
.card p {
    padding: 15px 15px 5px;
    font-size: 14px;
    color: #444;
}

.card strong {
    display: block;
    padding: 0 15px 10px;
    font-size: 16px;
    color: #e91e63;
}

.card button {
    margin: 10px 15px 20px;
    padding: 10px;
    width: calc(100% - 30px);
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #e91e63;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card:hover img {
    transform: scale(1.08);
}

.perfumes-bg{
    background-image: url('images/perfumebanner.webp');
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center center;

}

.bags-bg{
    background-image: url('images/baglogo.jpg');
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center center;

}

.jewellery-bg{
    background-image: url('images/jewellery.jpg');
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center center;

}

/* contact page */
.contact.section{
    padding:60px 40px;
}

.contact.section h2{
    text-align:center;
    margin-bottom:50px;
    font-size:34px;
    color:rgb(246, 99, 123);
    position:relative;
}

.contact.section h2::after{
    content:"";
    width:80px;
    height:3px;
    background:rgb(205, 79, 121);
    display:block;
    margin:10px auto 0;
}

/* Layout */
.contact{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
}

/* Form Section */

.form-section{
    flex:1;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 15px 40px rgba(0,0,0,0.06);
    transition:0.3s;
}

.form-section:hover{
    transform:translateY(-5px);
}

.form-section h3{
    margin-bottom:25px;
    color:rgb(214, 64, 114);
    font-weight:600;
}

/* Inputs */

.input{
    margin-bottom:20px;
}

.input label{
    display:block;
    margin-bottom:6px;
    font-weight:500;
    font-size:14px;
}

.input input,
.input textarea{
    width:100%;
    padding:12px 14px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:14px;
    transition:0.3s;
}

.input input:focus,
.input textarea:focus{
    border-color:rgb(241, 80, 134);
    box-shadow:0 0 8px rgba(255,64,129,0.2);
    outline:none;
}

/* Button */

.contact-form button{
    width:100%;
    padding:12px;
    border:none;
    background:rgb(238, 83, 134);
    color:#fff;
    border-radius:30px;
    font-weight:500;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background: pink;
    box-shadow:0 8px 20px rgba(233,30,99,0.3);
}

/* Contact Info Section */

.contact-info-section{
    flex:1;
    background:whitesmoke;
    padding:40px;
    border-radius:15px;
    box-shadow:0 15px 40px rgba(0,0,0,0.06);
}

.contact-info-section h3{
    margin-bottom:25px;
    color:rgb(197, 63, 108);
    font-weight:600;
}

.contact-item{
    margin-bottom:20px;
}

.contact-item h4{
    color: rgb(201, 109, 124);
    margin-bottom:5px;
    font-size:15px;
}

.contact-item p{
    font-size:14px;
    color:#555;
}

/* Business Hours */

.business-hours{
    margin-top:20px;
    padding-top:15px;
    border-top:1px solid #eee;
}

.hours-item{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    margin-bottom:8px;
    color:#444;
}



.map-section{
    padding:70px 60px;
    background:#fff;
    text-align:center;
}

.map h3{
    margin-bottom:25px;
    font-size:30px;
    color:palevioletred;
}

.map iframe{
    width:100%;
    height:400px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.blog-section{
    display: flex;
    justify-content: center;
    gap: 60px;
    transition: all .3s ease;
    
}

.blog-box{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    background-color: pink;
    padding: 30px;
    border: 1px solid palevioletred;
}

.blog-box li {
    list-style: none;
}

.image{
    width: 300px;
    height: 300px;
    border-radius: 5%;
    border: 1px solid palevioletred;
}
    
.blog-section .image:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    cursor: pointer;
}

.blog-section .blog-box:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    cursor: pointer;
}



footer {
    background: rgb(237, 140, 156);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}

footer .footer-col {
    margin: 10px 20px;
    width: 20%;
}

footer h3 {
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer ul li a:hover{
    color: grey;

}

footer i {
    margin: 0 8px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer i:hover {
    color: rgb(231, 67, 143);
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
    
    